body {
    font-family: "Iowan Old Style", "Constantia", "Georgia", "serif";
    background-color: #f8f7f7;
    /* transition-delay: .0001s; */

}

a, a:link, a:visited {
    color: black;
    font-family: "Iowan Old Style", "Constantia", "Georgia", "serif";
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    text-decoration: underline;
}

a:hover, a:active {
    text-decoration: underline;

}

.info > p {
    margin: 0px;
    padding: 0px;
    border: 0px;
    line-height: 26.4px;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
}

.headinfo {
}

.btn-link {
    color: black;

}

.info .inithidden {
    max-width: 90%;
}

.gallery {
    max-width: 110px;
    font-size: 150%;
}

.icons {
    position: relative;
    bottom: 10px;
}

.item {
    max-width: 600px;
}

.header {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    margin-bottom: 15px;
}

.blockquote {
  background: #f9f9f9;
  font-size: 0.8em;
  border-left: 1px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  max-width: 45em;

}


#colophon {
    font-size: 0.4em;
}

.p-name {
    font-family: "Iowan Old Style", "Constantia", "Georgia", "serif";
    font-size: 2.5em;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    padding-left: 5px;
    margin-bottom: 1vh;
    margin-top: 3vh;
}
